# dependencies
node_modules/

# env files
.env
.env.local

# vite cache
.vite/

# build output
dist/

# logs
npm-debug.log*

serviceAccountKey.json
backend/app/serviceAccountKey.json
.env
venv/
node_modules/
